@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
.abg{
background-color: #eacff8;
background-repeat:no-repeat;

}
.about-us{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
}
.pic{
  height: auto;
  width:  302px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 36px;
  margin-left: 33px;
  background: linear-gradient(to right, #ce0955,
  #ad4906, #d80bd8, #ecd60d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}
.text h5{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 33px;
}
span{
  color: #4070f4;
}

.text p {
  font-size: 28px;

  line-height: 25px;

  letter-spacing: 1px;

  margin-top: 23px;

  margin-left: 16px;

  color: unset;

}
.p1{
    margin-inline: 10px;
    margin-top: 10px;
    font-size: 21px;
    margin-left: 20px;
    
}
.data{
  margin-top: 30px;
}

.square1 {
    margin-left: 45px;
    margin-top: 63px;
  }

  .h{
    color: rgb(13, 13, 13);
    margin-left: 115px;
  }